<section class="covers">
  <div class="covers-container">
    <div class="covers-line">
      <img
        srcset="./img/covers-1.jpg 1x, ./img/covers-1@2x.jpg 2x"
        src="./img/covers-1.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-2.jpg 1x, ./img/covers-2@2x.jpg 2x"
        src="./img/covers-2.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-3.jpg 1x, ./img/covers-3@2x.jpg 2x"
        src="./img/covers-3.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-1.jpg 1x, ./img/covers-1@2x.jpg 2x"
        src="./img/covers-1.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-4.jpg 1x, ./img/covers-4@2x.jpg 2x"
        src="./img/covers-4.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-5.jpg 1x, ./img/covers-5@2x.jpg 2x"
        src="./img/covers-5.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-6.jpg 1x, ./img/covers-6@2x.jpg 2x"
        src="./img/covers-6.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-7.jpg 1x, ./img/covers-7@2x.jpg 2x"
        src="./img/covers-7.jpg"
        alt="man"
        class="covers-item"
      />
    </div>
    <div class="covers-line">
      <img
        srcset="./img/covers-4.jpg 1x, ./img/covers-4@2x.jpg 2x"
        src="./img/covers-4.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-5.jpg 1x, ./img/covers-5@2x.jpg 2x"
        src="./img/covers-5.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-6.jpg 1x, ./img/covers-6@2x.jpg 2x"
        src="./img/covers-6.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-7.jpg 1x, ./img/covers-7@2x.jpg 2x"
        src="./img/covers-7.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-1.jpg 1x, ./img/covers-1@2x.jpg 2x"
        src="./img/covers-1.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-2.jpg 1x, ./img/covers-2@2x.jpg 2x"
        src="./img/covers-2.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-3.jpg 1x, ./img/covers-3@2x.jpg 2x"
        src="./img/covers-3.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-1.jpg 1x, ./img/covers-1@2x.jpg 2x"
        src="./img/covers-1.jpg"
        alt="man"
        class="covers-item"
      />
    </div>
    <div class="covers-line">
      <img
        srcset="./img/covers-8.jpg 1x, ./img/covers-8@2x.jpg 2x"
        src="./img/covers-8.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-9.jpg 1x, ./img/covers-9@2x.jpg 2x"
        src="./img/covers-9.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-10.jpg 1x, ./img/covers-10@2x.jpg 2x"
        src="./img/covers-10.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-8.jpg 1x, ./img/covers-8@2x.jpg 2x"
        src="./img/covers-8.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-8.jpg 1x, ./img/covers-8@2x.jpg 2x"
        src="./img/covers-8.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-9.jpg 1x, ./img/covers-9@2x.jpg 2x"
        src="./img/covers-9.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-10.jpg 1x, ./img/covers-10@2x.jpg 2x"
        src="./img/covers-10.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-8.jpg 1x, ./img/covers-8@2x.jpg 2x"
        src="./img/covers-8.jpg"
        alt="man"
        class="covers-item"
      />
    </div>
    <div class="covers-line">
      <img
        srcset="./img/covers-1.jpg 1x, ./img/covers-1@2x.jpg 2x"
        src="./img/covers-1.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-2.jpg 1x, ./img/covers-2@2x.jpg 2x"
        src="./img/covers-2.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-3.jpg 1x, ./img/covers-3@2x.jpg 2x"
        src="./img/covers-3.jpg"
        alt="man"
        class="covers-item"
      />
      <img
        srcset="./img/covers-1.jpg 1x, ./img/covers-1@2x.jpg 2x"
        src="./img/covers-1.jpg"
        alt="man"
        class="covers-item"
      />
    </div>
  </div>
</section>
