<section class="hero hero-dark-red">
  <div class="container hero-container">
    <h1 class="hero-title">
      Hello. <br />
      I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <div class="hero-link-container">
      <ul class="hero-list">
        <li class="hero-item"><a href="" class="hero-link">IG</a></li>
        <li class="hero-item"><a href="" class="hero-link">FB</a></li>
        <li class="hero-item"><a href="" class="hero-link">YT</a></li>
        <li class="hero-item"><a href="" class="hero-link">GH</a></li>
      </ul>
      <a href="mailto: lloydjefferson@gmail.com" class="hero-link-mail"
        >lloydjefferson@gmail.com</a
      >
    </div>
  </div>
</section>
