<section class="reviews">
  <div class="container">
    <h2 class="reviews-title">REVIEWS</h2>
    <div class="swiper reviews-swiper">
      <ul class="swiper-wrapper reviews-list js-reviews-list"></ul>

      <div class="reviews-btn-container">
        <button type="button" class="reviews-btn-prev">
          <svg
            class="reviews-btn-prev-icon"
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M20.5 12H4.50001"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M10.5 18L4.5 12L10.5 6"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <button type="button" class="reviews-btn-next">
          <svg
            class="reviews-btn-next-icon"
            width="25"
            height="24"
            viewBox="0 0 25 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.5 12H20.5"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M14.5 6L20.5 12L14.5 18"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
