.about-me-item {
  background-color: #1c1d20;
  margin-top: 0;
  border: none;
  position: relative;
}

.about-me-item::after {
  content: '';
  position: absolute;
  bottom: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 100%;
}

.about-me-item .about-me-list-btn {
  font: inherit;
  color: rgba(250, 250, 250, 0.4);
  padding-top: 20px;
  padding-bottom: 32px;
  padding-left: 0;
}

.about-me-item .about-me-list-btn::after {
  content: url(../img/ac-open.svg);
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
}

.about-me-item.is-active > .about-me-list-title .about-me-list-btn::after {
  content: url(../img/ac-close.svg);
}

.about-me-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
}

.about-me-list-btn {
  text-transform: uppercase;
}

.about-me-item .about-me-list-panel .about-me-list-text {
  padding: 0 0 20px 0;
}
.about-me-list-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-me-list-text li {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .about-me-item .about-me-list-btn {
    padding-top: 32px;
  }

  .about-me-item .about-me-list-btn::after {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-item .about-me-list-panel .about-me-list-text {
    padding: 0 68px 32px 686px;
  }
}
