.hero {
  background-position: -250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
  margin: auto 0;
}
.hero-link-container {
  flex-direction: column;
  align-items: end;
  display: flex;
  margin-bottom: 32px;
  gap: 4px;
}

@media screen and (min-width: 375px) {
  .hero-link-container {
    flex-direction: row;
  }
}
.hero-list {
  display: flex;
  gap: 4px;
}
.hero-item,
.hero-link-mail {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  height: 37px;
  transition: border-color 250ms ease-in-out;
}
.hero-item:hover,
.hero-link-mail:hover {
  border-color: #fafafa;
}
.hero-item {
  width: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-link {
  padding: 10px 11px;
}
.hero-link-mail {
  padding: 10px 12px;
  width: 178px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-size: contain;
  }
  .hero-title {
    font-size: 90px;
  }

  .hero-link-container {
    justify-content: end;
    gap: 8px;
  }
  .hero-list {
    gap: 8px;
  }
  .hero-item,
  .hero-link-mail {
    font-size: 16px;
    height: 55px;
  }
  .hero-item {
    padding: 18px 16px;
    width: 55px;
  }
  .hero-link-mail {
    padding: 18px 24px;
    width: 223px;
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    background-position: left;
  }

  .hero-title {
    padding-left: 146px;
  }
}
